:root {
  --header-font-family: "Amazon Ember", Helvetica;
  --header-font-weight: 700;
  --header-font-size: 63.959999084472656px;
  --header-letter-spacing: 0.31979999542236326px;
  --header-line-height: normal;
  --header-font-style: normal;
  --title-1-font-family: "Amazon Ember", Helvetica;
  --title-1-font-weight: 700;
  --title-1-font-size: 45.22999954223633px;
  --title-1-letter-spacing: 0.22614999771118163px;
  --title-1-line-height: normal;
  --title-1-font-style: normal;
  --title-2-font-family: "Amazon Ember", Helvetica;
  --title-2-font-weight: 500;
  --title-2-font-size: 28px;
  --title-2-letter-spacing: 0.14px;
  --title-2-line-height: normal;
  --title-2-font-style: normal;
  --title-3-font-family: "Amazon Ember", Helvetica;
  --title-3-font-weight: 700;
  --title-3-font-size: 20px;
  --title-3-letter-spacing: 0.1px;
  --title-3-line-height: normal;
  --title-3-font-style: normal;
  --regular-1-font-family: "Amazon Ember", Helvetica;
  --regular-1-font-weight: 400;
  --regular-1-font-size: 16px;
  --regular-1-letter-spacing: 0.08px;
  --regular-1-line-height: normal;
  --regular-1-font-style: normal;
  --regular-2-font-family: "Amazon Ember", Helvetica;
  --regular-2-font-weight: 400;
  --regular-2-font-size: 12px;
  --regular-2-letter-spacing: 0.06px;
  --regular-2-line-height: normal;
  --regular-2-font-style: normal;
  --sub-font-family: "Amazon Ember", Helvetica;
  --sub-font-weight: 700;
  --sub-font-size: 28px;
  --sub-letter-spacing: 0.14px;
  --sub-line-height: normal;
  --sub-font-style: normal;
  --button-font-family: "Amazon Ember", Helvetica;
  --button-font-weight: 700;
  --button-font-size: 15px;
  --button-letter-spacing: 0.075px;
  --button-line-height: normal;
  --button-font-style: normal;
  --variable-collection-primary-color: rgba(255, 153, 0, 1);
  --variable-collection-secondary-color: var(--variable-collection-secondary-brand);
  --variable-collection-supporting: rgba(0, 127, 127, 1);
  --variable-collection-accent-error: rgba(223, 42, 93, 1);
  --variable-collection-text: rgba(29, 25, 43, 1);
  --variable-collection-light: rgba(248, 247, 252, 1);
  --variable-collection-dark: rgba(0, 0, 0, 1);
  --variable-collection-subtle-text: rgba(165, 163, 170, 1);
  --variable-collection-secondary-brand: rgba(35, 47, 62, 1);
}
